<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Drive International Traffic to Restaurant | Languages Menu Translation</title>
    <meta name="description" content="We have partnered with the leading providers of strategic information in the USA for reviews, menus and restaurant data in addition to mapping and geo location services information.">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <script src="/assets/js/jquery.js"></script>
    <script async src="/assets/js/popper.min.js"></script>
    <script async src="/assets/js/bootstrap.min.js"></script>
    <script async src="/assets/js/main.js"></script>
    <meta name="msvalidate.01" content="F568DBD5CB8CEBE6AD9EA132DF569A5B" />
    <meta name="google-site-verification" content="np6om-vKXCpibh2wUYZVTesOTgAdDGjI72D4rkUsZBs" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157811542-1"></script> <script>
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-157811542-1');
    </script>
    <link rel="canonical" href="https://mr-menu.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{ content }}
  </body>
</html>
